@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* font-family: 'Cinzel', serif; */
body {
  max-width: 1200px;
  margin:0 auto;
  font-family: 'Oswald', sans-serif;
  font-size:16px;
  line-height:40px;
  letter-spacing:3.5px;
  background-color: black;
  color:white; 
}

.t_title{
  padding:5%;
  opacity:0.5;
  letter-spacing:10px;
}

/* header */
#myNavbar {
  padding-top:3%;
  letter-spacing:7px;
}

/* contents */
#container{
  /* position:absolute; */
  margin:0 auto;
  z-index:0;
}

#main_container{
  background-image: 
  url("images/poster.png");
  background-repeat:  no-repeat;
  background-position: right center; 
}

.parallax-window{
  width:100%;
  height:100%; 
  margin:20% auto; 
  opacity:1;
}

#main_container img{
  width:100%;
  height:80%;
}

.date{
  text-align: center;
  padding: 15% 10% 0 0 ;
  font-size:30px;
  line-height:30px;
  letter-spacing:5px;
}

.date h{
  letter-spacing:10px;
  font-size:50px;
}

.date p{
  padding-top:5%;
}

.date span{
  font-size:15px;
}

/* contents2 */
.enter_contents{
  line-height:25px;
  letter-spacing:5px;
  font-size: 12px;
  background-color: rgb(255,255,255,0.15);
  padding:3%;
  margin:3% auto;
  text-align: center;
}

.enter_contents_sm{
  background-color: rgb(255,255,255,0.15);
  padding:3%;
  margin:3% auto;
  text-align: center;
}

.enter_contents h{
  font-size: 18px;
  margin:10%;
}

.enter_contents span{
  font-size: 10px;
}

.enter_contents a {
  color: #fff;
  font-weight: bold;
  background: #333;
  padding: 18px 30px;
  border-radius: 6px;
  transition: .3s;
}
.enter_contents a:hover {
  opacity: 0.6;
}


/* about */
.pc_about h1{
  line-height:25px;
  letter-spacing:5px;
  font-size: 25px;
  margin:50px 0;
}

.pc_about{
  margin:0 auto;
  font-size: 15px;
  font-family: 'DotGothic16', sans-serif;
}

.sm_about h1{
  line-height:25px;
  letter-spacing:2px;
  font-size:13px;
  margin:50px 0;
}

.sm_about{
  font-size: 12px;
  font-family: 'DotGothic16', sans-serif;
}

/* Artist */
.navbar img{
  height: 200px; 
  object-position:cover;
}


/* map */
.map_title h{
}

#AccessModal{
  background-color: rgb(0,0,0,0.8);
  /* width:80%;
  height:80%; */
}


/* thanks */

/* @font-face {
  font-family: 'Myfont';
  src: url('../assets/font/digital-7 (mono).ttf') format('woff'),
       url('../assets/font/digital-7 (mono).ttf') format('truetype');
}*/

.thanks_name{
	/*font-family: 'MyFont';*/
  margin-top:10px;
} 


/* footer */


/* @media only screen and (min-width: 0px) and (max-width: 1000px) {*/

  .page_top{
    width:140px;
    height:30px;
    position:fixed;
    right:0;
    bottom:0;
  }
  .page_top a{
    padding:15px;
    display:block;
    font-size:12px;
    /* background:#000; */
    background:rgb(255, 255, 255);
    color:#333;
  }

  .line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    /* font-size: 180%; */
    /* color:white; */
    /* font-family:'serif'; */
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

  /* Animation-2 */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
 blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
