@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@font-face {
  font-family: 'myfont';
  src: url('../assets/font/BIZ-UDGothic-01.ttf') format('truetype')}

body {
  max-width: 1200px;
  margin:0 auto;
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-family: 'myfont';

  font-size:14px;
  line-height:30px;
  letter-spacing:3px;
  background-color: black;
  color:white; 
}

.profile h1{
  margin:3% 0 ;
  font-size:18px;
}

.modal_contents{
  margin:10%;
  max-width: 800px;
}

.profile{
  margin-top:10px;
}

.close_btn{
  font-size: 2em; 
  color:white; 
  float: right;
}

@media only screen and (min-width: 0px)
    and (max-width: 768px){

      .modal_body{
        max-width: 1200px;
        margin:10% auto;
        /* font-size:8px;
        line-height:15px;
        letter-spacing:2px; */

        font-size:14px;
        line-height:30px;
        letter-spacing:3px;
        background-color: black;
        color:white; 
      }

      .profile h1{
        margin:30px 0 ;
        font-size:18px;
      }

      .profile{
        margin-top:50px;
      }
}