/* Gothic */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@font-face {
  font-family: 'BIZ_UDP';
  src: url('../assets/font/BIZ-UDGothicR.ttc') format('ttc'),}



body {
  max-width: 1200px;
  margin:0 auto;
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-family: 'BIZ_UDP';

  font-size:14px;
  line-height:30px;
  letter-spacing:3px;
  background-color: black;
  color:white; 
}

.t_title{
  padding:5%;
  opacity:0.5;
  letter-spacing:10px;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* header */
#myNavbar {
  padding-top:3%;
  letter-spacing:7px;
}

.sns_icon{
  margin:5px;
  font-size: 2em; 
  color:white; 
}

/* contents */
#container{
  /* position:absolute; */
  margin:0 auto;
  z-index:0;
}

#main_container{
  background-image: 
  url("images/poster.png");
  background-repeat:  no-repeat;
  background-position: right center; 
}

.parallax-window{
  width:100%;
  height:100%; 
  margin:20% auto; 
  opacity:1;
}

#main_container img{
  width:100%;
  height:80%;
}

.date{
  margin : 5% 0;
  font-family: 'Cinzel', serif;
  text-align: center;
  padding: 15% 10% 0 0 ;
  font-size:30px;
  line-height:30px;
  letter-spacing:5px;
}

.date h{
  letter-spacing:10px;
  font-size:50px;
}

.date p{
  padding-top:5%;
}

.date span{
  font-size:15px;
}


/* contents2 */
.enter_contents{
  line-height:25px;
  letter-spacing:5px;
  font-size: 12px;
  background-color: rgb(255,255,255,0.15);
  padding:3%;
  margin:3% auto;
  text-align: center;
}

.enter_contents h{
  font-size: 18px;
  margin:10%;
}

.enter_contents span{
  font-size: 12px;
}


.enter_contents_sm{
  line-height:2rem;
  letter-spacing:0.5rem;
  background-color: rgb(255,255,255,0.15);
  padding:3%;
  margin:3% auto;
  text-align: center;
}

.enter_contents_sm h{
  font-size: 17px;
}

.enter_contents_sm span{
  font-size: 8px;
}

.purchase_btn{
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: rgb(0, 0, 0);
  /* color: rgb(255, 255, 255); */
  font-size: 18px;
  font-weight: 700;
  letter-spacing:5px;
  border-radius: 6px;
  transition: 0.3s;
}

.enter_contents_sm .purchase_btn{
  width: 200px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing:3px;
}

.purchase_btn::after {
  content: '';
  width: 5px;
  height: 5px;
  /* border-top: 3px solid #333333; */
  /* border-right: 3px solid #333333; */
  transform: rotate(45deg);
}

.purchase_btn a:hover {
  text-decoration: none;
  /* background-color: #aaaaaa; */
  /* box-shadow: 0 0 10px rgba(0 0 0 / 0); */
}



/* about */
.pc_about h1{
  line-height:25px;
  letter-spacing:5px;
  font-size: 25px;
  margin:50px 0;
}

.pc_about{
  margin:0 auto;
  font-size:16px;
  line-height:40px;
  letter-spacing:3.5px;
}

.sm_about h1{
  font-size:14px;
  line-height:35px;
  letter-spacing:3px;
  margin:30px 0;
}

.sm_about{
  /* font-size:8px;
  line-height:30px;
  letter-spacing:2px; */

  font-size:14px;
  line-height:35px;
  letter-spacing:3px;
}

/* Artist */

/* TA */
.TA_column img{
  border-radius: 50%;
  width:  100px;
  height: 100px; 
  margin:10%;
}

.TA_column img:hover{
 opacity:0.5;
}

.TA_column{
  text-align: center;
}

/* thanks */
.thanks_name{
  font-weight:bold; 
  font-size:10px;
  margin-top:10px;
}

/* footer */
.footer{
  padding:3%;
  text-align: center;
}

.footer_img{
  width:200px; 
  margin:10px;
}

.footer_img_sm{
  width:100px; 
  margin:10px;
}

  .line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

  /* Animation-2 */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
 blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 21em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

@viewport {
  width: 100vw;
}