@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  max-width: 1200px;
  margin:0 auto;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size:16px;
  line-height:40px;
  letter-spacing:3.5px;
  background-color: black;
  color:white; 
}

img{
  max-width:400px;
  width: 80%;
  height: 80%;
  object-position:cover;
}

h1{
  /* font-family: 'DotGothic16', sans-serif; */
  font-family: 'Sawarabi Mincho', sans-serif;
}
